*{
    margin: 0;
    padding: 0;
}
body{
    background-color:green
}
.head{
    background-color: rgb(9, 199, 9);
}
.head a{
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 12px 14px;
    margin: 12px 10px;

}
button{
    border-color: orange;
    border: 1px orange solid;
    border-radius: 8px;
    padding: 2px 2px;
    float: right;
    margin: 1px 1px;
}
img{
    margin: 10px 40px;
}